/* Footer.css */

.footer {
  background-color: #ff0000;
  color: #fff;
  padding: 30px 0; /* Yükseklik azaltıldı */
}

.footer h3 {
  font-size: 18px; /* Başlık yazı boyutu küçültüldü */
}

.footer p {
  font-size: 14px; /* Paragraf yazı boyutu küçültüldü */
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  font-size: 16px; /* Sosyal ikon yazı boyutu küçültüldü */
}
